<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.testng.NewTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>booksTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>giftCardsTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>logoutTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>electronicsTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>loginTest</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>closedown</td>
<td>&nbsp;</td></tr>
</table>
