<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="889b97">  <td>23/02/27 12:42:56</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest.booksTest()[pri:2, instance:com.testng.NewTest@58d75e99]">booksTest</td> 
  <td>main@45023307</td>   <td></td> </tr>
<tr bgcolor="889b97">  <td>23/02/27 12:43:12</td>   <td>16254</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NewTest.closedown()[pri:0, instance:com.testng.NewTest@58d75e99]">&lt;&lt;closedown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@45023307</td>   <td></td> </tr>
<tr bgcolor="889b97">  <td>23/02/27 12:42:46</td>   <td>-10011</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewTest.setup()[pri:0, instance:com.testng.NewTest@58d75e99]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@45023307</td>   <td></td> </tr>
<tr bgcolor="889b97">  <td>23/02/27 12:42:52</td>   <td>-3560</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest.loginTest()[pri:1, instance:com.testng.NewTest@58d75e99]">loginTest</td> 
  <td>main@45023307</td>   <td></td> </tr>
<tr bgcolor="889b97">  <td>23/02/27 12:43:01</td>   <td>5512</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest.electronicsTest()[pri:3, instance:com.testng.NewTest@58d75e99]">electronicsTest</td> 
  <td>main@45023307</td>   <td></td> </tr>
<tr bgcolor="889b97">  <td>23/02/27 12:43:11</td>   <td>15567</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest.logoutTest()[pri:5, instance:com.testng.NewTest@58d75e99]">logoutTest</td> 
  <td>main@45023307</td>   <td></td> </tr>
<tr bgcolor="889b97">  <td>23/02/27 12:43:08</td>   <td>12401</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest.giftCardsTest()[pri:4, instance:com.testng.NewTest@58d75e99]">giftCardsTest</td> 
  <td>main@45023307</td>   <td></td> </tr>
</table>
